<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.css">
        <link rel="stylesheet" href="./styles/team.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.js"></script>
    </head>
    <body>
        <div class="ui grid">
            <div class="sixteen wide centered column">
                <div class="ui huge inverted menu navbar">
                    <a class="item">JacksBot<a>
                    <div class="right menu">
                        <a href="" class="active item">Home</a>
                        <a href="" class="right item">Team</a>
                        <a href="" class="right item">Login</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="team">

          <p>Management</p>
          <ul id="team_list">
            <li> <div class="team_member">
                    <img src="./images/sue.png" alt="Portrait"><p>
                    <div class="team_text">
                      Sue Kalia<p>
                      Role: CEO<p>
                    </div>
                  </div>
            </li>
            <li> <div class="team_member">
                    <img src="./images/jay.jpg" alt="Portrait"><p>
                    <div class="team_text">
                      Jacob Biehler<p>
                      Role: Product Manager<p>
                    </div>
                  </div>
            </li>

            <p>FullStack<p>
            <li> <div class="team_member">
                    <img src="./images/nick.jpg" alt="Portrait"><p>
                    <div class="team_text">
                      Nicholas Boutboul<p>
                      Role: Fullstack Team Lead<p>
                    </div>
                  </div>
            </li>
            <li> <div class="team_member">
                    <img src="./images/dave.jpeg" alt="Portrait"><p>
                    <div class="team_text">
                      David Yoon<p>
                      Role: Fullstack Engineer<p>
                    </div>
                  </div>
            </li>
            <li> <div class="team_member">
                    <img src="./images/jesse.jpg" alt="Portrait"><p>
                    <div class="team_text">
                      Jesse Hedden<p>
                      Role: Fullstack Engineer
                    </div>
                  </div>
            </li>
            <li> <div class="team_member">
                    <img src="./images/lee.png" alt="Portrait"><p>
                    <div class="team_text">
                      Lee Gaines<p>
                      Role: Fullstack Engineer<p>
                    </div>
                  </div>
            </li>

            <p>Frontend<p>
            <li> <div class="team_member">
                    <img src="./images/sid.jpg" alt="Portrait"><p>
                    <div class="team_text">
                      Sidney Carroll<p>
                      Role: Frontend Lead<p>
                    </div>
                  </div>
            </li>
            <li> <div class="team_member">
                    <img src="./images/henry.jpg" alt="Portrait"><p>
                    <div class="team_text">
                      Henry Hsu<p>
                      Role: Frontend Engineer<p>
                    </div>
                  </div>
            </li>

            <p>Backend<p>
            <li> <div class="team_member">
                    <img src="./images/james_c.jpg" alt="Portrait"><p>
                    <div class="team_text">
                      James Choi<p>
                      Role: Backend Engineer<p>
                    </div>
                  </div>
            </li>

            <p>Marketing<p>
            <li> <div class="team_member">
                    <img src="./images/james_h.jpg" alt="Portrait"><p>
                    <div class="team_text">
                      James Heck<p>
                      Role: Marketing
                    </div>
                  </div>
            </li>



          </ul>
        </div>


        <footer>

        </footer>
    </body>
</html>
